
{% block content %}
    <h1>Добавить задачу</h1>

    <form action='/add_idea' method='POST'>
        {{ form.hidden_tag() }}
        <div>{{ form.name.label }}</div>
        <div>{{ form.name }}</div>
        {% if form.name.errors %}
            {% for error in form.name.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div>{{ form.small_description.label }}</div>
        <div>{{ form.small_description}}</div>
        {% if form.small_description.errors %}
            {% for error in form.small_description.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div>{{ form.description.label }}</div>
        <div>{{ form.description }}</div>
        {% if form.description.errors %}
            {% for error in form.description.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div>{{ form.image.label }}</div>
        <div>{{ form.image }}</div>
        {% if form.image.errors %}
            {% for error in form.image.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <input type="submit" value="Сохранить" />
    </form>
{% endblock %}