
{% block content %}
    <h1>Регистрация</h1>

    <form action='/register' method='POST'>
        {{ form.hidden_tag() }}
        <div>{{ form.email.label }}</div>
        <div>{{ form.email }}</div>
        {% if form.email.errors %}
            {% for error in form.email.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div>{{ form.user_name.label }}</div>
        <div>{{ form.user_name}}</div>
        {% if form.user_name.errors %}
            {% for error in form.user_name.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div>{{ form.password.label }}</div>
        <div>{{ form.password }}</div>
        {% if form.password.errors %}
            {% for error in form.password.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div>{{ form.link_for_connect.label }}</div>
        <div>{{ form.link_for_connect }}</div>
        {% if form.link_for_connect.errors %}
            {% for error in form.link_for_connect.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div>{{ form.specialization.label }}</div>
        <div>{{ form.specialization}}</div>
        {% if form.specialization.errors %}
            {% for error in form.specialization.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div>{{ form.description.label }}</div>
        <div>{{ form.description}}</div>
        {% if form.description.errors %}
            {% for error in form.description.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
         <div>{{ form.image.label }}</div>
        <div>{{form.image}}</div>
        {% if form.image.errors %}
            {% for error in form.image.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <input type="submit" value="Сохранить" />
    </form>
{% endblock %}